@model podejsciedwa.Models.DbModels.Film

@{
    ViewBag.Title = "Edit";
}

<h2>Edycja filmów</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Film</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.FilmId)

    <div class="form-group">
        @Html.LabelFor(model => model.Tytul, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tytul, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tytul, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Gatunek, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Gatunek, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Gatunek, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AktorId, "AktorId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.AktorId, new SelectList(ViewBag.Aktorzy, "AktorId", "Nazwisko"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AktorId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BibliotekaId, "BibliotekaId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("BibliotekaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BibliotekaId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zapisz zmiany" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Wróć do listy filmów", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
